
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Fasthand&family=Josefin+Sans:ital,wght@1,300&family=Kanit:wght@900&family=Oswald:wght@600&display=swap');


body{
	background-color: black	;
}





.img-main{
	text-align: center;
	justify-content: center;
	margin-top: 20px;
}

.text-main{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	justify-content: center;
	color: white;
	font-size: 32px;
	font-family: 'Josefin Sans', sans-serif;
}